#app-mount::before {
  content: "VisualRefreshSpotifyControls: This snippet has been merged in upstream and will no longer be maintained. Please update Vencord and remove it.";
  text-align: center;
  width: 100%;
  padding: 10px;
  display: block;
  z-index: 8900;
  color: #181825;
  background-color: #f38ba8;
  position: absolute;
}
